@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700&family=Open+Sans:wght@300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}


/* #### Framework #### */

html,body{
    height: 100%;
}

.max-width{
    width: 100%;
    min-height: auto;
}

.bg{
    background: url('/Users/linletty87icloud.com/Downloads/bg-2.png') no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
}

.bg2{
    background: url('/Users/linletty87icloud.com/Downloads/bg-4.png') no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
}

.container{
    max-width: 1680px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 95vh;

}

.logo{
      background: url('/Users/linletty87icloud.com/Downloads/logo-roupa.png') no-repeat;
      background-size: contain;
      width: 130px;
      height: 80px;
      position: relative;
      top: 20px;
      z-index: 9;

}

.text-gd{
    font-size: 72px ;
}

.text-md{
    font-size: 42px;
}

.text-pq{
    font-size: 20px;
}

.text-title{
    font-size: 20px;
    font-weight: 600;
}



.color-azul{
    color: #1B3B56;
}

.color-azul-1{
    color: #5271FF;
}

.color-cinza-2{
    color: #545454;
}

.call{
    display: flex;
    align-items: center;
    margin-top: 120px;
}

.left{
    width: 50%;
    min-height: 600px;
    max-height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2%;
}
