
/* ####CODIGO HEADER NAO MEXER #### */
body{
    background-image:url("mesa-de-madeira-com-fundo-borrado.jpg");
    background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: 100% 100%;

}
header{
  width: 100%;
}

.cabecalho{
  margin-top: auto;
    background-color: rgb(63, 158, 158);
    padding: 0 25;
    
}
.logo {
    color: #f1f1f1;
    font-family:fantasy;
}


.escolha ul {
 
    display: flex;
}
.escolha ul li{
    padding: 0 25px;
    list-style-type: none;
    
}
.escolha ul li a {
    padding: 10px;
     width: 20px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
}
.botao{
  background-color: aqua;
  margin: 0%;
  
  /* ####CODIGO DO HEADER NAO MEXER#### */
}
/* ####CODIGO PRIMEIRA PAGINA NAO MEXER NAO MEXER#### */
form.pesa input[type=text] {
    padding: 3px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  form.pesa button {
    float: left;
    width: 20%;
    padding: 0px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  form.pesa button:hover {
    background: #0b7dda;
  }
  
  form.pesa::after {
    content: "";
    clear: both;
    display: table;
  }
  

.livros ul{
  margin-top: 1%;
  display:flex;
  justify-content: center;
  padding-left:0;
}
.livros ul li{
  list-style-type: none;
  padding: 70px;
}
.livro1{
  margin:0px;
  width: 20%;
  padding:1.6em;
  height: 578px;
  border-radius: 55px;
  position: sticky;
  
}

.fonte-titulo{
color: #f1f1f1;
}
/* ####CODIGO PRIMEIRA PAGINA NAO MEXER#### */

/* ####CATEGORIAS#### */
.categorias{
text-align: center;


}
.categorias ul{
padding: 3%;
list-style: none;
}

.categorico a{
  color: rgb(231, 0, 0);
  text-decoration: none;
  

}

.categorico{
  width: 100%;
  background: black;
}

/* ####CATEGORIAS#### */

/* ####INSIRA O CSS DO SOBRE NOS EM BAIXO !!!!!!!!!!!#### */

  
.sobrenos{
  color: #f1f1f1;
}